html, body{
  margin: 0px;
  padding: 0px;
}
body{
  //background: #a24859;
  background-color: #d0b0bb
}
.header{
  background:white;
  background: #d4989a;
}
.header img{
  width: 100%;
  max-height: 500px;
  max-width: 1200px;
  display: block;
  margin: auto;
}
.contextual-region{
  max-width: 1200px;
  height: auto;
  margin: auto;
}
.button{
  background: #956e81;
}
.button:hover{
  background: #deb1ae;
  color: black;
}
.button:focus{
  background: #deb1ae;
  color: black;
}
/*******Navigation*******/
.navigation{
  height: 25px;
  background: #292c2f;
  height: 50px;
  margin: auto;
}
.navigation li{
  display: block;
  height: 50px;
  color: white;
  width: 200px;
  text-align: center;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }}
.navigation a{
  color: white;
  display: block;
  height: 50px;

}
.navigation a:hover{
  color: black;
}
.menu .data-dropdown-menu{
  width: 100%;
}
.navigation li:hover{
  background: lightgrey;
}
.nav{
  margin: auto;
  list-style: none;
  max-width: 1200px;
  text-align: center;
  height: 50px;
}
.menu{
  width: 1200px;
  margin: auto;
  display: flex;
  @media screen and (max-width: 1000px) {
    display: inline-block;
  }}
.top-bar{
  width: 100%;
  background: #292c2f;
  padding: 0px;
}
.top-bar ul {
  background: #292c2f;
}
.title-bar{
  width: 100%;
  background: #292c2f;
}
.views-row{
}
.views-row h2 a{
  color: black;
}
/*******Container*******/
.container{
  height: auto;
  background: white;
  margin:auto;
  max-width: 1200px;
  background: #e8dcdc;
  padding: 5px;
}
.views_slideshow_cycle_teaser_section{
  margin: auto;
}
.views_slideshow_cycle_main{
  background: #e8dcdc;
  padding-bottom: 20px;
}
.front-prog li{
  list-style: none;
  display: block;
}
.frot-prog ul:hover{
  color: white;
}
.grid-container{

  padding-bottom: 20px;
}
.grid-container a{
    color: #a24859;;
}
.views-field a{
  color: white;
}
.front-buy{
  background: #292c2f;
  text-align: center;
  color: white;
  height: 100px;
  margin-left: 15px;
  display: block;
  @media screen and (max-width: 750px) {
    height: 200px;
  }
  @media screen and (max-width: 460px) {
    height: 300px;
  }
}
.front-buy a{
  display: block;
  height: 100px;
  color: #cdadba;
  line-height: 100px;
  font-size: 40px;
}
.front-buy a:hover{
  background: #525558;
}
.front-buy .field-content{
  color: white;
}

.store-billet{
  padding-right: 20px;
  margin-left: 30px;
}
/*******Artiste*/
.pres_art{
  height: 200px;
  max-width: 300px;
}
.pres_art_img img{
  height: 200px;
}
.pres_art_descr h2{
  color: white;
}
.pres_art_descr p{
  text-align: justify;
}
/*Ticket*/
.buy{
  background-color: #99507b;
  color: white;
  height: 210px;
}
.buyyourticket{
  background: #4c3d46;
  height: 210px;
  text-align: center;
  line-height: 210px;
}
.buyyourticket a{
  color: white;
}
.buyyourticket a:hover{
  color: lightgrey;
}
iframe {
  width: 100%;
}
.info-view h3{
  color: #a24859;
}
.info-view p{
  text-align: justify;
}
.info-view{
  padding-left: 20px;
  @media screen and (max-width: 1000px) {
    padding: 0px;
  }}
.contact-message-formulaire-form{
  padding: 20px;
  height: auto;
  background: #e8dcdc;
  padding-bottom: 180px;
}
.contact-message-formulaire-form label{
  color: #a24859;
  font-size: 30px;
}
.programation{
  margin-left: 30px;
  margin-bottom: 100px;
}
.programation li{
  list-style: none;
}
.programation a{
  font-size: 30px;
  color: #a24859;
}
/*******NEws*/
.news{
  background: white;
}
.jour h3{
  text-align: center;
}
.jour1 h3{
  text-align: center;
}
.jour{
  height: 200px;
  text-align: white;
  background-color: orange;
  border-right: 10px solid white;
  padding-left: 20px;
}
.jour1{
  height: 200px;
  text-align: white;
  background-color: orange;
  padding-left: 20px;
}
/*******Navigation*******/
footer{
  background: #292c2f;
  color: white;
}
.footer{
  background: #292c2f;
}
.footer a{
  color: white;
}
#block-socialmedialinks ul{
  padding-top: 20px;
}

.sponso{
  padding: 30px;
  margin-left: 25px;
  padding: 0px
}
.views_slideshow_cycle_main{
@media screen and (max-width: 600px) {
  display: none;
}}
.artist-teaser a{
  font-size: 30px;
  color: #a24859;
}
.artist .field-content img{
  height: auto;
}

.img_artist{
  height: auto;
  margin: auto;
}
#block-festicheyres-branding{
  margin: auto;
  max-width: 1200px;
}
.header-logo{
  width: 100%;
}
.block-social-media-links{
  max-width: 1200px;
  margin: auto;
}
.artiste a{
  font-size: 30px;
  color: #a24859;
}
.artiste{
  padding: 10px;
  @media screen and (max-width: 600px) {
    padding: 0px;
  }}

.views-field-purchased-entity a{
  color: black;
}
.view-billet{
  text-align: center;
  margin: auto;
  width: 100%;
  background: #eae6e6;
  min-height: 300px;
  vertical-align: text-top;
  padding-top: 50px;
  @media screen and (max-width: 1000px) {
    padding: 0px;
  }}
.view-billet li{
  list-style: none;
}
.artist-img{
  padding-left: 80px;
  @media screen and (max-width: 1000px) {
    padding: 0px;
  }}
.artiste{
    margin-left: 20px;
    @media screen and (max-width: 1000px) {
      margin: 0px;
    }}
.artist-body p{
  text-align: justify;
}
.artist-heure{
  color: #a24859;
  font-size: 25px;
  text-align: center;
}
.artist-body{
  padding-top: 20px;
}
.cart-block--summary{
  float: right;
  padding-top: 20px;
  margin-right: 40px;
  @media screen and (max-width: 1000px) {
    margin: 0px;
  }
}
.cart--cart-block{
  max-width: 1200px;
  margin: auto;
}
