<article class="article-artist">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
  <div class="artist-title large-12 cell">
    <h2{{ title_attributes }}>
      {{ label }}
    </h2>
  </div>
  <div class="artist-heure large-12 cell">
    {{ content.field_artiste_heure}}
  </div>
  <div class="artist-body large-12 cell">
    {{ content.body }}
  </div>
  <div class="artist-img large-12 cell">
    {{ content.field_artiste_thumbnail}}
  </div>
</div>
</div>
</article>
